{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mt-3">Cage Search</h1>
</div>
{% if not_found %}
<div class="container mt-4">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Cage '{{ cage_id }}' not found.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}

<div class="container mt-4">
    <form method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="cage_id" placeholder="Enter Cage ID" aria-label="Enter Bag ID" aria-describedby="search-btn">
            <button class="btn hms_button_color" style="background-color: rgb(0, 150, 136); color: white;" type="submit" id="search-btn">Search</button>
        </div>
    </form>
</div>

{% if search_results %}
<div class="container mt-4">
    <h2>Search Results:</h2>
    <br>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                    {% if search_results|length > 0 %}
                    <div class="card-body d-flex align-items-center" style="background-color: rgb(0, 150, 136); color: white;">
                        <h5 class="card-title me-auto">Cage ID</h5>
                        <h1 class="card-title ms-auto">{{ search_results.0.cage_id.cage_name }}</h1>
                    </div>
                    {% endif %}
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                    {% if search_results|length > 0 %}
                    <div class="card-body d-flex align-items-center" style="background-color: rgb(0, 150, 136); color: white;">
                        <h5 class="card-title me-auto">Bag Count</h5>
                        <h1 class="card-title ms-auto">{{ total_bags_in_cage }}</h1>
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-bordered">
            <thead class="hms_color">
                <tr>
                    <th scope="col">Bag ID</th>
                    <th scope="col">CV</th>
                    <th scope="col">Time</th>
                    <th scope="col">Cage ID</th>
                    <th scope="col">Bag Grid</th>
                    <th scope="col">Username</th>
                </tr>
            </thead>
            <tbody>
                {% for result in search_results %}
                <tr>
                    <td>{{ result.bag_seal_id }}</td>
                    <td>{{ result.cv }}</td>
                    <td>{{ result.time1_str }}</td>
                    <td>{{ result.cage_id.cage_name }}</td>
                    <td>
                        {% for bag in bag_grid %}
                            {% if bag.bag_id == result.bag_seal_id %}
                                {{ bag.grid_code }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ result.user }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<script>
    const userInput = document.getElementById('multiSearchInput').value;
    const bagIds = userInput.split(/[\n, ]/).filter(Boolean); 
</script>

{% endblock %}