{% extends 'base.html' %}

{% block content %}
<div class="padding">
    <form method="post" action="{% url 'ib_bagtrac' %}">
        {% if messages %}
        <div class="container mt-4">
            {% for message in messages %}
                {% if 'Success' in message.tags %}
                    <div class="alert alert-success alert-dismissible fade show d-flex align-items-center justify-content-center" role="alert">
                        <h1>{{ message }}</h1> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% else %}
                    <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center justify-content-center" role="alert">
                        <h1>{{ message }}</h1> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% csrf_token %}
        <div class="mt-5"><h1>IB BagTrac</h1></div>
        <div class="mb-3 mt-4">
            <label for="exampleInputPassword1" class="form-label">Cage ID</label>
            <input type="text" class="form-control hms_bg_color" name="Cage_ID" id="cage" value="{{ last_cage }}">
            
        </div>
        <div>
            <label for="bag_seal" class="form-label">Bag ID</label>
            <input type="text" class="form-control hms_bg_color hms_margin" id="bag_seal" name="Bag/Seal_ID">
        </div>
        <button type="submit" class="btn mt-2" style="background-color: rgb(0, 150, 136); color: white;">Submit</button><br>
        <button type="button" class="btn mt-3" style="background-color: rgb(178, 36, 36); color: white;"onclick="clearCage()">Next Cage</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script>
    document.getElementById("cage").addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            event.preventDefault(); 
            var nextInput = document.getElementById("bag_seal");
            if (nextInput) {
                nextInput.focus();
            }
        }
    });

    function clearCage() {
        document.getElementById("cage").value = "";
    }
</script>

<style>
    /* CSS for vertically centering the messages in alerts */
    .alert {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
</style>

{% endblock %}
