{% extends 'base.html' %}

{% block content %}
<div class="padding">
    <form method="post" action="{% url 'put_in' %}">
        {% if messages %}
        <div class="container mt-4">
            {% for message in messages %}
                {% if 'Success' in message.tags %}
                    <div class="alert alert-success alert-dismissible fade show d-flex align-items-center justify-content-center" role="alert">
                        <h1>{{ message }}</h1> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% else %}
                    <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center justify-content-center" role="alert">
                        <h1>{{ message }}</h1> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% csrf_token %}
        <div class="hms_margin"></div>
        <h1 class="mb-4">Grid Put-In</h1>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Cage ID</label>
            <input type="text" class="form-control hms_bg_color" name="cage" id="cage" value="{{ last_cage }}">
            
        </div>
        <div>
            <label for="bag_seal" class="form-label">Grid ID</label>
            <input type="text" class="form-control hms_bg_color hms_margin" id="grid_area" name="grid_area">
        </div>
        <button type="submit" style="background-color: rgb(0, 150, 136); color: white;" class="btn">Put</button><br>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script>
    document.getElementById("cage").addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            event.preventDefault(); 
            var nextInput = document.getElementById("grid_area");
            if (nextInput) {
                nextInput.focus();
            }
        }
    });

    function clearCage() {
        document.getElementById("cage").value = "";
    }
</script>

<style>
    .alert {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
</style>

{% endblock %}
