{% extends 'base.html' %}

{% block content %}

{% if not_found %}
<div class="container mt-4">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Bag ID '{{ bag_id }}' not found.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}
{% if search_results %}
<div class="container mt-4">
    <h2>Search Results:</h2>
    <div class="table-responsive">
        <table class="table table-bordered mt-3">
            <thead class="hms_color">
                <tr>
                    <th scope="col">Bag ID</th>
                    <th scope="col">CV</th>
                    <th scope="col">Time</th>
                    <th scope="col">Cage ID</th>
                    <th scope="col">Grid</th>
                    <th scope="col">Username</th>
                </tr>
            </thead>
            <tbody>
                {% for result in search_results %}
                <tr>
                    <td>{{ result.bag_seal_id }}</td>
                    <td>{{ result.cv }}</td>
                    <td>{{ result.time1_str }}</td>
                    <td>{{ result.cage_id.cage_name  }}</td>
                    <td>
                        {% for bag in bag_grid %}
                            {% if bag.bag_id == result.bag_seal_id %}
                                {{ bag.grid_code }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ result.user }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<div class="container mt-4">
    <form method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="bag_id" placeholder="Enter Bag ID" aria-label="Enter Bag ID" aria-describedby="search-btn">
            <button class="btn btn-primary hms_button_color" type="submit" id="search-btn">Search</button>
        </div>
    </form>
    <form method="POST" action="{% url 'multi_search' %}">
        {% csrf_token %}
        <div class="top_margin">
            <textarea class="form-control" name="bag_ids" placeholder="Paste Bag IDs" id="multiSearchInput"></textarea>
            <button class="btn btn-primary hms_button_color margin_10" type="submit">Multi Search</button>
        </div>
    </form>
</div>

<script>
const userInput = document.getElementById('multiSearchInput').value;
const bagIds = userInput.split(/[\n, ]/).filter(Boolean); 
</script>

{% endblock %}
